<!DOCTYPE html>
<hmtl ng-app = 'app'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
  <script src="app/app.js"></script>
  <script src="app/notePad.js"></script>
  <div ng-controller='notePadController' class='container'>
    <head>
      <meta charset="utf-8" />
      <title>Static</title>
      <!-- <link rel="stylesheet" type="text/css" href="styles/styles.css" /> -->
    </head>
    <body class="hero-unit">
      <div class='notePad'>
        <nav ng-repeat='note in notes'> 
        <!-- if you want to write code on index.html, surround in {{}} kinda like jsx -->
          <div> {{note}} </div>
        </nav>
        {{note}}
        <!-- look for ng-class properties such as submit and repeat in the docs -->
        <form ng-submit='saveNotes(note)'>
          <input class="header" type="text" ng-model="note" placeholder="write here"> 
        </form>
      </div>
    </body>
  </div>
</html>