<!DOCTYPE html>
<hmtl>
  <script src="lib/angular.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="app/app.js"></script>
  <div ng-app = 'app' ng-controller="controller">
    <head>
      <meta charset="utf-8" />
      <title>Shortly</title>
      <link rel="stylesheet" type="text/css" href="styles/style.css" />
      <h1> {{header}} </h1>
      <form ng-submit='saveHeader(header)'>
        <input class="header" type="text" ng-model="header" placeholder="header"> 
        <button>change header</button>
      </form>
      <nav> 
        <button ng-click='savePage()' >Save page</button>
      </nav>
    </head>
    <body>
      <body> 
        {{body}}
        <form ng-submit='saveBody(body)'>
          <input class="body" type="text" ng-model="body" placeholder="body"> 
          <button>change body</button>
        </form>
        <form ng-submit='saveColor(color)'>
          <input class="body" type="text" ng-model="color" placeholder="red"> 
          <button>change color</button>
        </form>
      </body>
    </body>
  </div>
</html>
